<!DOCTYPE html>
<html lang="en" dir="ltr">
<!-- ========================================= -->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="Content-Security-Policy" content="default-src
			'self'
			'unsafe-inline'
		">
		<link rel="stylesheet" href="/body-logo.css">
		<link rel="stylesheet" href="/error.css">
		<title>Simulacrum Error</title>
	</head>
<!-- ========================================= -->
	<% if (message.length) {%>

	<div class="shadow-image">
	  <img src="/voidglobe.gif" class="background-logo">
	</div>

	<body class="error-body">

		<section class="cover-background">

			<dd class="error-page">
				<button id="goBack">
					RETURN
				</button>

				<div class="error-message">
					<h3>Error occured.</h3>
					<h3>Code: <span><%=status%></span></h3>
					<p><%=message%></p>
					<p><%=stack%></p>
				</div>
			</dd>
		</section>
	</body>
</html>


<style type="text/css">
	html {
		background: black;
		transition: all 1s ease;
		overflow: hidden;
		z-index: 1;

		width: 100%;
		height: 100%;
		margin: 0;
	}
	.shadow-image {
		filter: hue-rotate(110deg);

		transition: all 1s ease;
		transform: translate(-50%);
	}
	.error-body {
		color: aliceblue;
		font-family: 'Courier New';

		transform: scale(100%);
		transition: all 0.8s ease-in-out;
		font-size: 2.0rem;
	}
	.error-page {
		margin: auto;
		width: 100%;
		padding: 10px;
		text-align: center;
	}
	.cover-background {
		background: rgba(0,0,0,0.3);
		transform: scale(0);
		height: 100%;
		width: 100%;

		text-align: center;
		transition: all 0.5s ease;
		display: flex;
		justify-content: center;
	}
	.error-message {
		font-family: unset;
		word-wrap: break-word;

		font-size: 1.4rem;
		max-height: 800px;
		overflow: scroll;
	} .error-message::-webkit-scrollbar { display: none; }
	.error-message h3 {
		color: black;
		text-shadow: 1px 1px 0.1px darkred;
		-webkit-text-stroke: 0.3px red;
		font-family: 'Black Ops One';
	} .error-message span {
		font-family: 'Courier New';
	} .error-message p {

		align-self: center;
		padding: 22px;
	}
	#goBack {
		font-family: 'Black Ops One';
		color: black;
		background: rgba(0,0,0,0.6);
		text-shadow: 1px 1px 1px lightblue, 1px 1px 11px lightblue, 1px 1px 11px lightblue;

		position: relative;
		align-self: center;
		font-size: 2.0rem;
		min-width: 220px;
		max-width: 250px;
	} #goBack:hover, #goBack:active {
		color: transparent;
	}

</style>
<script type="text/javascript">
	const body = document.querySelector('.error-body');
	const cover = document.querySelector('.cover-background')
	const returnButton = document.querySelector('#goBack');
/* ================================================= */
	returnButton.addEventListener('mouseup', () => setTimeout( () => window.location.replace(document.referrer), 300));
/* ================================================= */
	window.onload = () => cover.style.transform = "scale(1.0)";
/* ================================================= */
</script>
<%}%>
