<!DOCTYPE html>
<html lang="en" dir="ltr">
<!-- ========================================= -->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="Content-Security-Policy" content="default-src
			'self'
			'unsafe-inline'
		">
		<link rel="stylesheet" href="/body-logo.css">
		<link rel="stylesheet" href="/error.css">
		<link rel="stylesheet" href="/error-block.css">
		<title>Simulacrum Error</title>
	</head>
<!-- ========================================= -->
	<% if (message.length) {%>

	<div class="shadow-image">
	  <img src="/voidglobe.gif" class="background-logo">
	</div>

	<body class="error-body">

		<section class="cover-background">

			<dd class="error-page">
				<button id="reload">
					RELOAD
				</button>

				<div class="error-message">
					<h3>Error occured.</h3>
					<h3>Code: <span><%=status%></span></h3>
					<p><%=message%></p>
					<!-- <p><%=stack%></p> -->
				</div>
			</dd>
		</section>
	</body>
</html>

<script type="text/javascript">
	const body = document.querySelector('.error-body');
	const cover = document.querySelector('.cover-background')
	const returnButton = document.querySelector('#reload');
	const BGImage = document.querySelector('.shadow-image');
/* ================================================= */
	if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|BB|PlayBook|IEMobile|Windows Phone|Kindle|Silk|Opera Mini/i.test(navigator.userAgent)) {
	BGImage.style.background = "url('/staticglobe.gif')";
	// Take the user to a different screen here.
};
/* ================================================= */
	returnButton.addEventListener('mouseup', () => setTimeout( () => {
		window.location.href = '/';
		cover.style.transform = "scale(0)";
		}, 300));
/* ================================================= */
	window.onload = () => cover.style.transform = "scale(1.0)";
/* ================================================= */

</script>
<%}%>
