<!DOCTYPE html>
<html lang="en" dir="ltr">
<!-- ================================================================== -->
  <head>
    <meta charset="utf-8">
    <!-- ====================== Essential scripts ======================== -->
    <meta http-equiv="Content-Security-Policy" content="default-src
      'self'
      'unsafe-inline'
    ">
    <link rel="stylesheet" href="/body-logo.css">
    <link rel="stylesheet" href="/login.css">
    <title>Simulacrum Authorization</title>
  </head>
<!-- ================================================================== -->
  <body>
    <main class="container">

      <img src="/TNT Logo 4.png" alt="">

        <form action="/login" method="POST">

          <fieldset disabled>
            <div class="form-block">
              <label for="name">Username </label>
              <input class="input" type="text" name="name" minlength="6" maxlength="20">
            </div>

            <div class="form-block">
              <label for="password">Password </label>
              <input class="input" type="text" name="password" minlength="8" maxlength="20">
            </div>
          </fieldset>

          <button class="input" type="submit" name="button" disabled>SUBMIT</button>

        </form>

    </main>
  </body>
</html>


<script text="text/javascript">

  const body = document.querySelector('body');
  const main = document.querySelector('main');
  const session = <%-JSON.stringify(UserSession)%>;
  const LoginAttempts = <%-JSON.stringify(LoginAttempts || null)%>;

  if (LoginAttempts < 3) {
    document.querySelector('fieldset').disabled = false;
    document.querySelector('button').disabled = false;
  }
/* ================================================= */
  window.onsubmit = () => {
    if (LoginAttempts >= 2) {
      alert('Login attempts exceeded.');
      return false;
    }
    event.preventDefault();
    let currentTarget = event.target;
    main.style.transform = 'scale(0)';
    body.style.transform = 'scale(70%)';
    setTimeout( () => {
      currentTarget.submit();
    }, 800);
  }
/* ================================================= */
  window.onload = () => main.style.transform = 'scale(100%)';
</script>
