<!DOCTYPE html>
<html lang="en" dir="ltr">
<!-- ================================================================== -->
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:image" content="https://skeletonhill.com:3001/Simulacrum Title.png"/>
	<meta property="og:description" content="Simulacrum is a file-systems-management platform designated for -- and hosted on -- the cloud drive Skeleton Hill, belonging to the T.N.T family.
Simulacrum provides alternative access and utilization of the cloud drive's File System, supplementing the bare-bones features with a more aesthetic user interface, versatile file operations, and easier file identification/searching."/>
    <!-- ====================== Essential scripts ======================== -->
    <meta http-equiv="Content-Security-Policy" content="default-src
      'self'
      'unsafe-inline'
      https://cdnjs.cloudflare.com
    ">
    <link rel="stylesheet" type="text/css" href="/fa-icons.css">
    <link rel="stylesheet" href="/body-logo.css">
    <link rel="stylesheet" href="/login.css">
<!-- Axios --> <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.min.js"></script>
    <title>Simulacrum Authorization</title>
  </head>
<!-- ================================================================== -->
  <body>
    <main class="container">

      <img id="logo" src="/TNT Logo 4.png" alt="">
      <img id="title" src="Simulacrum Title.png" alt="">

      <form id="mainForm" action="/login" method="POST">

        <fieldset disabled>
          <div class="form-block">
            <label for="name">Username (or Email)</label>
            <input id="UN" class="input" type="text" name="name" minlength="5" required>
          </div>

          <div class="form-block">
            <label for="password">Password </label>
            <input id="PW" class="input" type="password" name="password" minlength="6" maxlength="20" required>
          </div>
        </fieldset>

        <button class="input" type="submit" name="button">LOGIN</button>
        <button name="button" type="button" style="color: lightblue; margin-top: 40%;" onclick="showForm(this, forms[1])">REGISTER</button>

      </form>
<!-- ========================================================================== -->
    <hr>


      <form id="newUserForm" action="/new" method="POST" hidden>
        <h5>Create a new profile</h5>

        <fieldset disabled>
          <div class="form-block">
            <label for="name">Username</label>
            <input class="input" type="text" name="name" minlength="6" maxlength="20" required>
          </div>

          <div class="form-block">
            <label for="password">Password</label>
            <input class="input" type="password" name="password" minlength="8" maxlength="20" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*?[0-9])(?=.*?[!@#$%^*+`~=?\|<>/]).{8,}">
          </div>

          <div class="form-block">
            <label for="email">Email</label>
            <input class="input" type="email" name="email" minlength=8 required pattern="[^ @]*@[^ @]*">
          </div>

          <div class="form-block">
            <label for="state">Location</label>
            <select class="input" name="state" required>
              <optgroup label="United States">
                <option>Alabama</option>
                <option>Alaska</option>
                <option>Arizona</option>
                <option>Arkansas</option>
                <option>California</option>
                <option>Colorado</option>
                <option>Connecticut</option>
                <option>Delaware</option>
                <option>Florida</option>
                <option>Georgia</option>
                <option>Hawaii</option>
                <option>Idaho</option>
                <option>Illinois</option>
                <option>Indiana</option>
                <option>Iowa</option>
                <option>Kansas</option>
                <option>Kentucky</option>
                <option>Louisiana</option>
                <option>Maine</option>
                <option>Maryland</option>
                <option>Massachusetts</option>
                <option>Michigan</option>
                <option>Minnesota</option>
                <option>Mississippi</option>
                <option>Missouri</option>
                <option>Montana</option>
                <option>Nebraska</option>
                <option>Nevada</option>
                <option>New Hampshire</option>
                <option>New Jersey</option>
                <option>New Mexico</option>
                <option>New York</option>
                <option>North Carolina</option>
                <option>North Dakota</option>
                <option>Ohio</option>
                <option>Oklahoma</option>
                <option>Oregon</option>
                <option>Pennsylvania</option>
                <option>Rhode Island</option>
                <option>South Carolina</option>
                <option>South Dakota</option>
                <option>Tennessee</option>
                <option>Texas</option>
                <option>Utah</option>
                <option>Vermont</option>
                <option>Virginia</option>
                <option>Washington</option>
                <option>West Virginia</option>
                <option>Wisconsin</option>
                <option>Wyoming</option>
              </optgroup>
              <optgroup label="Canada">
                <option>British Columbia</option>
                <option>Québec</option>
                <option>Newfoundland and Labrador</option>
                <option>Prince Edward Island</option>
                <option>Nova Scotia</option>
                <option>New Brunswick</option>
                <option>Manitoba</option>
                <option>Saskatchewan</option>
                <option>Alberta</option>
                <option>Nunavut</option>
                <option>Northwest Territories</option>
                <option>Yukon Territory</option>
              </optgroup>
            </select>
          </div>

          <br>

          <div class="form-block" style="border: 1px double gray; padding: 5px">
            <div class="res-message">
            </div>

            <div id="codeForm" class="form-block hide">
              <i class="fa fa-info-circle info-icon-1"></i>
              <input id="confirmCode" class="input" type="text" name="code" value="" maxlength=5 style="min-height: 80px; max-width: 140px;" disabled>
            </div>

          </div>

        </fieldset>

        <button id="register" class="input" type="submit">SUBMIT</button>
        <button name="button" type="button" style="color: gray;" onclick="showForm(this, forms[0])">BACK</button>
      </form>
    </main>

  	<footer>
    	<i class="fa fa-info-circle info-icon-2"></i>
	  	<div class="site-info">
  	    <p><a href="https://github.com/Varkous/Simulacrum">Simulacrum</a> is a file-systems-management platform designed for -- and hosted on -- the cloud drive "Skeleton Hill", belonging to the T.N.T family. Simulacrum provides alternative access and utilization of the cloud drive's File System, supplementing the bare-bones features with a more aesthetic user interface, versatile file operations, and easier file identification/searching.
  	    </p>
  	    <hr>
  	    <p>The file server is privately owned by T.N.T and not readily available for the public. However, anonymous users may create email-linked profiles with an allocation of 3 gigabytes of private storage. Employers and scouts may utilize the guest account if they know the password.</p>
	    </div>
  	  <div class="container">
  	    <label>Creator Email: </label>
  	    <a href="#">varkous@protonmail.com</a>
  	  </div>

  	  <div class="container">
  	    <label>GitHub: </label>
  	    <a href="https://github.com/Varkous">Varkous</a>
  	  </div>
	  </footer>

  </body>
</html>

<!-- In-House Javascript -->
<script type="text/javascript">
  const body = document.querySelector('body');
  const main = document.querySelector('main');
  const forms = document.querySelectorAll('form');
  const newUserForm = document.getElementById('newUserForm');
  const codeForm = document.getElementById('codeForm');
  const fieldsets = document.querySelectorAll('fieldset');
  const register = document.querySelector('#register');
  const message = document.querySelector('.res-message');

  const LoginAttempts = <%-JSON.stringify(LoginAttempts || null)%>;
  const Server = <%-JSON.stringify(Server || null)%>;
</script>
<script type="text/javascript" src="/Login.js"></script>
