<!DOCTYPE html>
<html lang="en" dir="ltr">
<!-- ================================================================== -->
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- ====================== Essential scripts ======================== -->
    <meta http-equiv="Content-Security-Policy" content="default-src
      'self'
      'unsafe-inline'
    ">
    <link rel="stylesheet" href="/body-logo.css">
    <link rel="stylesheet" href="/login.css">
    <title>Simulacrum Authorization</title>
  </head>
<!-- ================================================================== -->
  <body>
    <main class="container">

      <img id="logo" src="/TNT Logo 4.png" alt="">
      <img id="title" src="Simulacrum Title.png" alt="">

        <form id="mainForm" action="/login" method="POST">

          <fieldset disabled>
            <div class="form-block">
              <label for="name">Username </label>
              <input id="UN" class="input" type="text" name="name" minlength="5" maxlength="20" required>
            </div>

            <div class="form-block">
              <label for="password">Password </label>
              <input id="PW" class="input" type="password" name="password" minlength="8" maxlength="20" required>
            </div>
          </fieldset>

          <button class="input" type="submit" name="button">SUBMIT</button>

        </form>
<!-- ========================================================================== -->

        <form id="newUserForm" action="/new" method="POST" class="hide">
          <fieldset disabled>

            <div class="form-block">
              <label for="name">Username </label>
              <input class="input" type="text" name="name" minlength="6" maxlength="20" required>
            </div>

            <div class="form-block">
              <label for="password">Password </label>
              <input class="input" type="password" name="password" minlength="8" maxlength="20" required>
            </div>

            <div class="form-block">
              <label for="note">Note <span>(Optional)</span></label>
              <textarea name="note" rows="5" cols="50" maxlength="120" placeholder="Any info related to the purpose of this account, and who will be the primary owner/user of it (only the Director will see this)"></textarea>
            </div>

            <h5 style="padding: 5px; color: lightgray">Answer the secret question (you should know where to find it).</h5>
            <br>
            <div class="form-block" style="border: 1px double gray; padding: 5px">
              <p class="secret-message">When Bruce Wayne unzips his pants...</p>
              <img src="/mrwayne.png" alt="">
            </div>

            <div class="form-block">
              <p class="secret-message" style="border: 1px double gray;">What is Mr. Fox's response?</p>
              <img src="/mrfox.png" alt="">
            </div>

            <div class="form-block">
              <label for="guess">Guess</label>
              <input class="input" type="text" name="guess" minlength="20" required>
              <p><span style="color: #22a0f4">Hint: </span> Less than 8 words...</p>
            </div>
        </fieldset>


        <button class="input" type="submit" name="button">SUBMIT</button>
        </form>
      <button name="button" onclick="showForm()" style="max-width: 400px;">Request New Profile</button>
      <hr>
    </main>
  </body>
</html>

<script text="text/javascript">

  const body = document.querySelector('body');
  const main = document.querySelector('main');
  const form = document.querySelector('form');
  const fieldsets = document.querySelectorAll('fieldset');
  const newUserForm = document.getElementById('newUserForm');
  const LoginAttempts = <%-JSON.stringify(LoginAttempts || null)%>;
  const Server = <%-JSON.stringify(Server || null)%>;

  if (LoginAttempts.message) {
    alert(LoginAttempts.message);
  }
  if (LoginAttempts.count < 3) {

  	for (let field of fieldsets)
  		field.removeAttribute('disabled');
    document.querySelector('button').disabled = false;
    form.hidden = false;
  }
/* ================================================= */
  window.onsubmit = () => {
    if (LoginAttempts.count >= 2) {
      alert('Login attempts exceeded.');
      return false;
    }
    event.preventDefault();

    document.querySelector('button').disabled = false;
    let currentTarget = event.target;
    main.style.transform = 'scale(0)';
    body.style.transform = 'scale(70%)';
    setTimeout( () => {
      currentTarget.submit();
    }, 300);
  }
/* ================================================= */
  window.onload = () => {
    let currentTime = Math.floor(new Date().getTime() / 60000);
    if (Server.status === 1 || Server.remaining > 1) {
      main.style.transform = "scale(1.0)";
    } else alert('Server shutdown in less than two minutes. Check back later.')
  }
/* ================================================= */
  function showForm() {
    newUserForm.classList.remove('hide');
    mainForm.hidden = true;
  }
/* ================================================= */
  if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|BB|PlayBook|IEMobile|Windows Phone|Kindle|Silk|Opera Mini/i.test(navigator.userAgent)) {
  	body.style.background = "url('/staticglobe.gif')";
    // Take the user to a different screen here.
	}
/* ================================================= */
  const prefix = (Array.prototype.slice
    .call(window.getComputedStyle(document.documentElement, '')).filter( (style) => style.includes('-moz')));
    
         setTimeout( () => {
          UN.value = 'guest';
          PW.value = 'JadeFalcon';
          //form.submit();
        }, 100);

</script>
