<!DOCTYPE html>
<html lang="en" dir="ltr">
<!-- ================================================================== -->
  <head>
    <meta charset="utf-8">
    <!-- ====================== Essential scripts ======================== -->
    <meta http-equiv="Content-Security-Policy" content="default-src
      'self'
      'unsafe-inline'
    ">
    <link rel="stylesheet" href="/body-logo.css">
    <link rel="stylesheet" href="/login.css">
    <title>Simulacrum Authorization</title>
  </head>
<!-- ================================================================== -->
  <body>
    <main class="container">

      <img id="logo" src="/TNT Logo 4.png" alt="">
      <img id="title" src="Simulacrum Title.png" alt="">

        <form id="mainForm" action="/login" method="POST">

          <fieldset disabled>
            <div class="form-block">
              <label for="name">Username </label>
              <input class="input" type="text" name="name" minlength="6" maxlength="20" required>
            </div>

            <div class="form-block">
              <label for="password">Password </label>
              <input class="input" type="password" name="password" minlength="8" maxlength="20" required>
            </div>
          </fieldset>

          <button class="input" type="submit" name="button" disabled>SUBMIT</button>

        </form>
<!-- ========================================================================== -->

        <form id="newUserForm" action="/new" method="POST" hidden>
          <fieldset>

            <div class="form-block">
              <label for="name">Username </label>
              <input class="input" type="text" name="name" minlength="6" maxlength="20" required>
            </div>

            <div class="form-block">
              <label for="password">Password </label>
              <input class="input" type="password" name="password" minlength="8" maxlength="20" required>
            </div>

            <div class="form-block">
              <label for="note">Note <span>(Optional)</span></label>
              <textarea name="note" rows="5" cols="50" maxlength="120" placeholder="Any info related to the purpose of this account, and who will be the primary owner/user of it (only the Director will see this)"></textarea>
            </div>

            <h5 style="padding: 5px; color: lightgray">Answer the secret question (you should know where to find it).</h5>
            <br>
            <div class="form-block" style="border: 1px double gray; padding: 5px">
              <p class="secret-message">When Bruce Wayne unzips his pants...</p>
              <img src="/mrwayne.png" alt="">
            </div>

            <div class="form-block">
              <p class="secret-message" style="border: 1px double gray;">What is Mr. Fox's response?</p>
              <img src="/mrfox.png" alt="">
            </div>

            <div class="form-block">
              <label for="guess">Guess</label>
              <input class="input" type="text" name="guess" minlength="20" required>
              <p><span style="color: #22a0f4">Hint: </span> Less than 8 words...</p>
            </div>
        </fieldset>


        <button class="input" type="submit" name="button">SUBMIT</button>
        </form>

    </main>
    <button name="button" onclick="showForm()" style="max-width: 400px;">Request New Profile</button>
    <hr>
  </body>
</html>


<script text="text/javascript">


  const body = document.querySelector('body');
  const main = document.querySelector('main');
  const LoginAttempts = <%-JSON.stringify(LoginAttempts || null)%>;

  if (LoginAttempts.message) {
    alert(LoginAttempts.message);
  }
  if (LoginAttempts.count < 3) {
    document.querySelector('fieldset').disabled = false;
    document.querySelector('button').disabled = false;
  }
/* ================================================= */
  window.onsubmit = () => {
    if (LoginAttempts.count >= 2) {
      alert('Login attempts exceeded.');
      return false;
    }
    event.preventDefault();
    let currentTarget = event.target;
    main.style.transform = 'scale(0)';
    body.style.transform = 'scale(70%)';
    setTimeout( () => {
      currentTarget.submit();
    }, 800);
  }
/* ================================================= */
  window.onload = () => main.style.transform = 'scale(100%)';
  function showForm() {
    newUserForm.hidden = false;
    mainForm.hidden = true;
  }
</script>
