.error-page {
  margin: auto;
  width: 100%;
  padding: 10px;
  text-align: center;
}
.error-message {
  font-family: unset;
  word-wrap: break-word;

  font-size: 1.4rem;
  max-height: 800px;
  overflow: scroll;
} .error-message::-webkit-scrollbar { display: none; }
.error-message h3 {
  color: white;
  text-shadow: 1px 1px 0.1px darkred;
  -webkit-text-stroke: 0.3px red;
  font-family: 'Monospace';
} .error-message span {
  font-family: 'Courier New';
} .error-message p {

  align-self: center;
  padding: 22px;
}
#reload {
  font-family: 'Jupiter';
  color: black;
  background: rgba(0,0,0,0.6);
  text-shadow: 1px 1px 1px lightblue, 1px 1px 11px lightblue, 1px 1px 11px lightblue;

  position: relative;
  align-self: center;
  font-size: 3.0rem;
  min-width: 220px;
  max-width: 250px;
} #reload:hover, #reload:active {
  color: transparent;
}
/* -------------------- *//* -------------------- */
