html {
  background:black;

  overflow: scroll;
  transition: all 1s ease;
  height: 100%;
}
html, img, input, button, textarea {
  width: 100%;
}
body {
  background: url('/voidglobe.gif');
  border-radius: 50%;
  background-size: contain;
  background-position: center;
  box-shadow: inset 52px 114px 116px 129px black,
  inset 12px 14px 216px 229px black,
  inset 12px 14px 216px 229px black,
  12px 14px 16px 29px black;

  transition: all 0.9s ease-in-out;
  transform: scale(80%);
  font-size: 1.5rem;
}
main {
  transition: all 0.9s ease-in-out;
  transform: scale(0);
  font-size: 2.0rem;
  max-width: 1000px;
  min-height: 800px;
  padding: 10px;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  align-self: center;
}
img {
  border-radius: 50px;
  opacity: 0.8;

}
form {
  font-family: 'Courier New';
  color: #22a0f4;

  font-size: 2.0rem;
}
.form-block {
  position: relative;
  display:flex;
  flex-direction: column;
}
fieldset {
  border: 0px solid black;

  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 1px;
}
label {
  border-radius: 10%;
  background: rgba(0,0,0,0.6);
  color: #22a0f4;
  text-shadow: 3px 3px 3px black;
  align-self: center;
}
input {
  background: rgba(0,0,0,1);
  color: #22a0f4;

  padding: 7px;
  font-size: 1.5rem;
} #newUserForm, textarea {
  background: black;
  color: aliceblue;

  font-size: 1.8rem;
}
button {
  font-family: 'Jupiter';
  color: #22a0f4;
  background: rgba(0,0,0,0.7);
  box-shadow: 1px 2px 2px 3px #090f33;
  border-radius: 10px;

  transition: all 1s ease-in-out;
  display: block;
  margin: auto;
  margin-top: 10%;
  max-width: 280px;
  font-size: 3.0rem;
} button:hover {
  animation: steady 0.8s infinite forwards;
  transition: all 0.8s ease-in-out;
  color: #22a0f4;
  box-shadow: 1px 1px 1px 1px #22a0f4;
  text-shadow: 1px 1px 1px white;

}
.secret-message {
  z-index: 2;
  font-size: 1.4rem;
  /* position: absolute; */
  margin: 0;
}
@keyframes steady {
  25% {border-left: 2px solid #22a0f4;}
  50% {border-bottom: 2px solid #22a0f4;}
  75% {border-right: 2px solid #22a0f4;}
  100% {border-top: 2px solid #22a0f4;}
}
@media only screen and (max-width: 1000px) {
  body {
    box-shadow: inset 22px 54px 56px 59px black,
    inset 12px 14px 56px 59px black,
    inset 12px 14px 56px 59px black,
    12px 14px 16px 29px black;
  }
}
