/* Media queries. Form, Panel (footer), Directory List and of course File List need to be adjusted*/
/* ==================== Laptop size ====================== */
@media only screen and (max-width: 1300px) {

  .form {
    display: flex;
    flex-direction: column;
  }
  #directoryList {
    width: 100%;
  }
  #panelButtons, footer .input-container {
    position: sticky;
    top: 0;
  }
  footer ol {
    display: flex;
    flex-flow: wrap;
  }
}
/* ==================== Mobile size ====================== */
@media only screen and (max-width: 750px) {
  body * {      font-size: 1.1rem;      }
  	.steady-glow {
  	  box-shadow: inset 1px 1px 40px #22a0f4;
  	  animation: null 1.5s forwards;
  	  /*animation: steady-glow 2.5s forwards infinite;*/
  	}
  /* ------------------------------------ */
  nav:hover {    max-width: 300px;    }
  /* ------------------------------------ */
  #logDisplay {
    width: 90%;
    font-size: 1.0rem;
  }
  #MessageLog {
    min-width: 270px;
  }
  .header h1{
    margin: 0;
    padding: 1%;
  }
  .directory-stats {
    max-width: 90%;
    z-index: 11;
    margin: 0px 5px 0px 5px;
  }
  .file-search, .resize {
  }
  .input-container {
    align-items: center;
    flex-direction: column;
  }
  .target-folder-div {
	width: 90%;
	display: contents;	
  }
  .column {
    min-width: 270px;
    width: 100%;
    flex-basis: 100%;
  }
  #panelButtons button {
    font-size: 0px;
    min-width: 50px;
    margin: auto;
  }
  #panelButtons button span {    font-size: 12px;     }
  /* ------------------------------------ */
  .list-holder {    max-width: 90% !important;    }
  /* ------------------------------------ */
  footer i {    font-size: 22px !important;     }
  /* ------------------------------------ */
  #questionMessage, #moreFiles span {
    display: none;
  }
  /* ------------------------------------ */
}
